<%= form_for @group, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :gid, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :gid, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :creator, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :creator, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :privacy, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :privacy, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :website, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :website, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :email, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :icon50, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :icon50, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :icon, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :icon, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  groups_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
