<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :gid %>
    <%= f.input :name %>
    <%= f.input :creator %>
    <%= f.input :description %>
    <%= f.input :privacy %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :icon50 %>
    <%= f.input :icon %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
