<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t '.title', :default => Group %></h1>
</div>
<ul class="list-group">
<% @groups.each do |group| %>
  
    <li class="list-group-item">
    <%= image_tag group.icon50 %> <%= link_to group.name, "https://www.facebook.com/groups/#{group.gid}", target: "blank" %>
    <% if group.user == current_user %> <span class="pull-right"><%= link_to group_path(group), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
              <%= glyph 'info-sign' %>
              <%= glyph 'pencil' %>
            <%- end -%>
            <%= link_to group_path(group), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
            <%- end -%></span><% end %>
    </li>
  
<% end %>
</ul>
<%= will_paginate @groups, renderer: BootstrapPagination::Rails %>